.wall-photo-item {
	background-color: #fff;
}

.gallery-wrapper a img,
.gallery-wrapper div img {
	border-radius: 0;
}

.jg-more-count {
	bottom: 0;
	right: 0;
	color: #fff;
	opacity: 1 !important;
	padding-right: .5rem !important;
	font-weight: bold;
	font-size: 1rem;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
